<div pDroppable (onDrop)="drop()" class="flex gap-2 flex-wrap text-sm" >
    @for (item of allDoneItems();  track item){
        <div pDraggable 
        (onDragStart)="dragStart(item)" 
        (onDragEnd)="dragEnd()"
        class="w-5 h-5 ">
        <p-card class="text-sm"  header= {{item.name}} subheader={{item.id}}>
               
                <p class="text-sm" >
                    {{item.description}}
                </p>
                
            </p-card>
        </div>
            }
        </div>