<div pDroppable (onDrop)="drop()" class="flex flex-column gap-2 text-sm" >
    @for (item of allDoneItems();  track item){
        <div pDraggable 
        (onDragStart)="dragStart(item)" 
        (onDragEnd)="dragEnd()"
        class="w-10 h-2 opacity-80">
        <p-card class="text-sm"  subheader={{item.name}}>
               
                <p class="text-sm" >
                {{item.id}} -   {{item.description}}
                </p>
                
            </p-card>
        </div>
            }
        </div>