<main>
  <app-menu-bar></app-menu-bar>

  <div class="flex lg:flex-row xl:flex-row md:flex-column sm:flex-column gap-5 justify-content-around ">
    <div class="w-full lg:min-h-screen">
      <h4>To Do Items</h4>
      <!--<app-to-do-card [droppedItemFromInProgress]="droppedItemFromInProgressToToDo"
        (onDragStart)="showData($event)"></app-to-do-card>-->
        
      <app-to-do-card (draggingSTartFromTodo) = "assignValueToItem($event)" 
      [droppedItemInToDo]="droppedItemInToDo"
      ></app-to-do-card>
    </div>



    <div class="w-full lg:min-h-screen">
      <h4>In Progress Items</h4>

      <app-implementing-card [droppedItem]="droppedItemToInProgress"
        (onDragInProgressStart)="sendDataToToDoList($event)"></app-implementing-card>
    </div>


    <div class="w-full lg:min-h-screen">
      <h4>Done Items</h4>
      <app-done-card (onDragStart) = "sendDataBack($event)" 
      [droppedItemToDone]="droppedItemToDone"></app-done-card>

    </div>

  </div>


</main>

<router-outlet />