<main>
  <app-menu-bar></app-menu-bar>
  <div class="flex gap-2 justify-content-center">
    <div class="">
      <h4>To Do Items</h4>
      <app-to-do-card [droppedItemFromInProgress]="droppedItemFromInProgressToToDo"
        (onDragStart)="showData($event)"></app-to-do-card>
    </div>



    <div class="">
      <h4>In Progress Items</h4>

      <app-implementing-card [droppedItem]="droppedItemFromTodoToInProgress"
       [droppedItemFromDone]="droppedItemFromDone"
        (onDragInProgressStart)="sendDataToToDoList($event)"></app-implementing-card>
    </div>


    <div class="">
      <h4>Done Items</h4>
      <app-done-card (onDragStart) = "sendDataBack($event)" 
      [droppedItemFromInProgress]="droppedItemFromDone"></app-done-card>

    </div>

  </div>


</main>

<router-outlet />