:host ::ng-deep {
    [pDraggable] {
        cursor: move;   
    }

    .drop-column {
        transition: border-color .2s;
    
        &.p-draggable-enter {
            border-color: #C55FFC 
        }
    }
}

.font-change
{
    font-size: large;
}