<div pDroppable (onDrop)="drop()" class="p-2 flex flex-column justify-content-center  gap-2 drop-column opacity-80">

    @for (item of allItems(); track item){

    <div pDraggable dragEffect="move" (onDragStart)="dragStart(item)" (onDragEnd)="dragEnd()">
        <p-card subheader = "Details">

            <ng-template pTemplate="header">
                <div class="flex pl-4 bg-primary">
                    <div class="flex-grow-1">
                        <h5>{{item.id}} - {{item.status}} - {{item.name}}</h5>
                    </div>
                    <p-button (onClick)="menu.toggle($event);" icon="pi pi-ellipsis-v" />
                    <p-menu #menu class="justify-content-end text-sm" [model]="items" [popup]="true" />
                </div>
            </ng-template>

            <ng-template pTemplate="content">
                <div class="text-md">
                <span>{{item.description}}</span>
            </div>
            </ng-template>

        </p-card>



    </div>
    @if(edit){       
    <edit-item [itemId]=item.id (isClosed)="handleCloseDialog($event)"></edit-item>
    }

    @if(delete){
    <delete-item [itemId]=item.id (isClosed)="handleCloseDialog($event)"></delete-item>
    }
    }





</div>

<app-new-item (onItemAdded)="displayNewItems($event)"></app-new-item>