<div pDroppable (onDrop)="drop()" class="p-2 flex flex-column justify-content-center  
gap-2 drop-column opacity-80">

    @for (itemToDo of allItems(); track itemToDo){

    <div class = "fadeindown animation-duration-400 animation-iteration-1" pDraggable
     dragEffect="move" (onDragStart)="dragStart(itemToDo)" (onDragEnd)="dragEnd()">
        <p-card id = "dragElement" subheader = "Details">

            <ng-template pTemplate="header">
                <div class="flex pl-4 bg-primary">
                    <div class="flex-grow-1">
                        <h5>{{itemToDo.id}} - {{itemToDo.status}} - {{itemToDo.name}}</h5>
                    </div>
                    <p-button id = "menuOptions" (onClick)="menu.toggle($event);" icon="pi pi-ellipsis-v" />
                <p-menu #menu class="justify-content-end text-sm" [model]="items" [popup]="true" />
                 <!-- <p-menu #menu class="justify-content-end text-sm" [model]="items" [popup]="true" >
                    <ng-template pTemplate="item" let-item>
                    <a (click) = "assignEditId(itemToDo)">
                        <span [class]="item.icon"></span>
                        <span class="ml-2">{{ item.label }}</span>
                    </a>
                    </ng-template>


                  </p-menu>
                -->
            </div>
            </ng-template>

            <ng-template pTemplate="content">
                <div class="text-md sm:text-sm xs:text-xs lg:text-md">
                <span>{{itemToDo.description}}</span>
            </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <div class="flex justify-content-end">
                <p-button  id="edit" label="Edit" color = "primary" (click) = "handleEdit(itemToDo)"/>
            </div>
</ng-template>


            @if(edit){      
                <edit-item [itemId]=editId (isClosed)="handleCloseDialog($event)"></edit-item>
                }
    
        </p-card>

     
    </div>


    @if(delete){
    <delete-item [itemId]=itemToDo.id (isClosed)="handleCloseDialog($event)"></delete-item>
    }
    }





</div>

<div class="pt-2">
<app-new-item (onItemAdded)="displayNewItems($event)"></app-new-item>
</div>